body {
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    color: white;
  }
  
  header {
    background-color: #333;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    text-align: center;
  }
  
  nav {
    background-color: #222;
    display: flex;
    color: white;
    padding: 10px;
    justify-content: space-around;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    color: white;
  }
  nav a:hover {
      color: cyan;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  article h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #222;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 9999999999;
  }
  
  .post {
      background-color: #333;
      padding: 10px;
      border-radius: 10px;
      max-height: 300px;
      overflow: auto;
      margin-bottom: 35px;
  }


.comments {
    position: absolute;
    width: 85vw;
    height: 70vh;
    left: 50%;
    transform: translate(-50%);
}



  .X {
    position: fixed;
    top: 0;
    right: 0;
}
        .btn {
        padding: 15px;
        background-color: #333;
        color: white;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
    }
    .btn:hover {
        background-color: #111;
    }
#C-cont {
    height: 313px; 
    width: 835px;
}
#Create {
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: #333;
    width: 100vw;
    height: 100vh;
}
#CMT {
    position: absolute;
    bottom: 0;
    width: 98.5vw;
    height: 50%;
    z-index: 9999;
}
.lnk {
    color: white;
    font-size: x-large;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    margin-right: 15px;
}
